/*colors for the whole site = brown whitesmoke burlywood #ee8f8f antiquewhite (neutral colors)*/
body {
    background-color: antiquewhite;
}

img {
    width: 28%;
    height: 30%;
    margin: 10px;
    margin-top: 4px;
    margin-right: 14px;
    float: left;
}

.welcome {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    text-align: center;
}

hr {
    color: burlywood;
}

nav {
    text-align: center;
    font-size: 20px;
}

a:link {
    color: brown;
    text-decoration: none;
}

a:visited {
    color: brown;
}

a:hover {
    color: whitesmoke;
}

a:active {
    color: brown;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    font-style: italic;
    font-size: large;
}

table {
    border-spacing: 15px 15px;
    width: 50%;
}

thead {
    text-align: left;
}