:root {
  /* --main-color: antiquewhite; */
  --text-and-line-color: RGB(213, 208, 206);
  --highlight-color: #a52a2a;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Animations */
.word {
  animation: color-animation 2s linear infinite;
}

.word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* falling stars animation */
.shooting-star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(95, 145, 255, 1),
    rgba(0, 0, 255, 0)
  );
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail 3000ms ease-in-out infinite,
    shooting 6000ms ease-in-out infinite;
}

.shooting-star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    rgba(95, 145, 255, 1),
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}

.shooting-star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    rgba(95, 145, 255, 1),
    rgba(0, 0, 255, 0)
  );
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(700px);
  }
}

.shooting-star:nth-child(1) {
  top: 10rem;
  left: 1rem;
  animation-delay: 1000ms;
}

.shooting-star:nth-child(2) {
  top: 20rem;
  left: 1rem;
  animation-delay: 4000ms;
}

.shooting-star:nth-child(3) {
  top: 35rem;
  left: 1rem;
  animation-delay: 2000ms;
}

.shooting-star:nth-child(4) {
  top: 50rem;
  left: 1rem;
  animation-delay: 7000ms;
}

.shooting-star:nth-child(5) {
  top: 70rem;
  left: 1rem;
  animation-delay: 4700ms;
}

.shooting-star:nth-child(1)::before,
.shooting-star:nth-child(1)::after,
.shooting-star:nth-child(2)::before,
.shooting-star:nth-child(2)::after,
.shooting-star:nth-child(3)::before,
.shooting-star:nth-child(3)::after,
.shooting-star:nth-child(4)::before,
.shooting-star:nth-child(4)::after,
.shooting-star:nth-child(5)::before,
.shooting-star:nth-child(5)::after {
  animation-delay: 4427ms;
}

.overlay {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vw;
  transform: rotateZ(90deg);
}

h1 {
  font-family: "sofia", sans-serif;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "sofia", sans-serif;
  color: var(--text-and-line-color);
}

h4 > a {
  color: white;
  cursor: pointer;
}

h4 > a:hover,
nav a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

hr {
  border-top: 1px;
  padding: 5px;
  border-style: dashed;
  border-color: var(--text-and-line-color);
}

body {
  background-color: rgb(20, 16, 16);
  font-family: "Matchbook", sans-serif;
}

nav {
  font-size: 2.5rem;
  padding: 2rem 0;
  background-color: black;
  font-weight: 700;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.7;
  width: 100%;
  border-bottom: 1px dashed var(--text-and-line-color);
  border-top: 5px solid var(--highlight-color);
  list-style: none;
}

nav > li > a {
  color: white;
}

.resume-btn {
  background-color: var(--highlight-color);
  padding: 0.5rem 1rem;
}

.resume-btn:hover {
  background-color: white;
}

.intro {
  padding-top: 8rem;
  width: 60rem;
}

.intro > p {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 20px;
  line-height: 2;
}

.contact-btn {
  display: flex;
  justify-content: center;
}

section {
  color: white;
  padding: 2rem 0;
  border-bottom: 1px dashed var(--text-and-line-color);
}

section > div {
  max-width: 85vw;
  margin: auto;
  font-family: "Open Sans Light", sans-serif;
}

.skills > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly;
  list-style-type: " <> ";
}

.skills {
  text-align: center;
  font-size: 20px;
  width: 50rem;
  height: 50vh;
}

.projects {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  gap: 4rem;
  border: 5px solid var(--highlight-color);
}

.project-btn {
  margin: 1rem 1rem 3rem 0;
}

.img-box {
  width: 30%;
}

.img-box > a {
  color: white;
}

img {
  width: 100%;
}

.img-description {
  width: 70%;
}

.img-description p {
  margin-top: 0.5rem;
}

.form {
  width: 25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-btn {
  margin-top: 1rem;
}

.form input,
textarea,
.btn {
  padding: 1rem 0.5rem;
  margin-bottom: 0.1rem;
  font-family: "Open Sans Light", sans-serif;
}

input:focus,
textarea:focus {
  outline-color: var(--highlight-color);
}

.btn {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #17494d,
    #accfcb,
    #dbad4a,
    #e4a9a8,
    #3d8dae,
    #df8453
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:active:after {
  background: transparent;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

footer {
  margin-top: 2rem;
  text-align: center;
  line-height: 2;
}

footer > ul > li > a {
  color: var(--highlight-color);
  font-size: 2rem;
  font-weight: bold;
}

footer a:hover {
  color: white;
}

footer > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

footer > h3 {
  font-size: 2rem;
}

@media screen and (max-width: 950px) {
  section > div {
    max-width: 90vw;
    margin: auto;
  }

  .intro p,
  .skills li {
    font-size: 16px;
  }

  .projects {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .img-box {
    width: 30rem;
  }

  .img-description {
    width: 100%;
    text-align: justify;
  }

  .project-btn-div {
    width: 17rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin: auto;
  }
}

@media screen and (max-width: 600px) and (min-width: 250px) {
  h1 {
    font-size: 2.5rem;
  }

  nav {
    padding: 1.5rem 0;
  }
  nav li {
    font-size: 24px;
  }

  .skills {
    height: fit-content;
    padding: 0 0.5rem;
  }

  .skills > ul {
    gap: 3rem;
  }

  .project-btn-div {
    width: 15rem;
  }

  .project-btn {
    width: 6.5rem;
  }

  .img-box {
    width: 15rem;
  }

  .intro {
    padding-top: 5rem;
  }

  .shooting-star:nth-child(1) {
    top: 3rem;
    left: 1rem;
  }
  
  .shooting-star:nth-child(2) {
    top: 10rem;
    left: 1rem;
  }
  
  .shooting-star:nth-child(3) {
    top: 15rem;
    left: 1rem;
  }
  
  .shooting-star:nth-child(4) {
    top: 18rem;
    left: 1rem;
  }
  
  .shooting-star:nth-child(5) {
    top: 20rem;
    left: 1rem;
  }  
}

@media (max-width: 425px) {
  .form {
    width: 15rem;
  }

  .form-btn {
    display: flex;
    justify-content: center;
  }

  footer > ul > li > a {
    font-size: 24px;
  }
}
