:root {
    /* --main-color: antiquewhite; */
    --text-and-line-color: RGB(213, 208, 206);
    --highlight-color: brown;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

h1 {
    font-family: 'sofia', sans-serif;
    font-size: 6.5rem;
}

h3 {
    font-family: 'sofia', sans-serif;
    color: var(--text-and-line-color);
}

hr {
    border-top: 1px;
    padding: 5px;
    border-style: dashed;
    border-color: var(--text-and-line-color);
}

body {
    background-color:rgb(20, 16, 16);
    font-family: 'Matchbook', sans-serif;
}

nav {
    font-size: 2.5rem;
    padding: 2rem 0;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    opacity: 0.9;
    width: 100%;
    border-bottom: 1px dashed var(--text-and-line-color);
    border-top: 5px solid var(--highlight-color);
    list-style: none;
}

nav > li > a{
    color: var(--text-and-line-color);
}

.intro {
    padding-top: 5rem;
}

section {
    color: var(--text-and-line-color);
    padding: 5rem 0;
    border-bottom: 1px dashed var(--text-and-line-color);
}

section > div {
    max-width: 65vw;
    margin: auto;
    font-size: 2rem;
    font-family: 'Open Sans Light', sans-serif;
}

.skills > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills {
    text-align: center;
    line-height: 2;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

.img-box {
    width: 15rem;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--highlight-color);
}

.img-box > a{
    color: var(--text-and-line-color);
}

footer {
    height: 30vh;
    margin-top: 2rem;
    text-align: center;
    line-height: 2;
}

footer > ul > li > a{
    color: var(--highlight-color);
    font-size: 2rem;
}

footer > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

footer > h3 {
    font-size: 2rem ;
}